.listCategories__button{
   display: flex;
   flex-direction: row
}

.globalOption__buttonUpdate{
   margin-right: 15px;
   button{
        @include btnStyles($btnDefaultBg,7px 10px,$white,1.25em);
        @extend .btn-default;
        svg{
           pointer-events: none;
        }
   }
}

.globalOption__buttonDelete{
    button{
        @include btnStyles($bgDelete,7px 10px,$white,1.25em);
        @extend .btn-default;
        svg{
         pointer-events: none;
      }
   }
   
}

.globalOption__inputSearch{
   input{
      @include inputStyle(5px 10px);
      @extend .input-default;
   }
}

.close__wrapper{
   cursor: pointer;
   font-size: 1.5em;
   left: auto;
   position: absolute;
   right: 12px;
   svg{
      pointer-events: none;
   }
}