.navbar__navbar{
    font-size: 1rem;
    font-family: $OpenSansSemi;
    background-color: $defaultBg;
    color: $whiteOpacity;
   .header-content{
       display: grid;
       grid-template-columns: auto 1fr;
       margin: auto;
       max-width: 1600px;

       .userName{
        font-size: 1.2em;
       }

        &>div:first-child{
            align-items: center;
            display: flex;
            padding: 10px;
        }

        #navbar{
            display: flex;
            justify-content: flex-end;
            >ul{
                padding-inline-end: 40px;
                list-style: none;
                .btn-logout{
                    @include btnStyles($btnDefaultBg, $whiteOpacity);
                    @extend .btn-default;
                    padding: 8px 27px;
                   
                }
            }
        }

   }
}