.body{
    font-size: 16px;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    font-size: 16px;
        #maincontent{
            flex: 1 0 auto;
            .columns{
                display: flex;
                flex-direction: row;
                max-width: 1600px;
                margin: auto;
                height: 100vh;
                .column-main{
                    flex-basis: calc(100% - 300px);
                    font-size: 1rem;
                }
            }
        }
}
