@mixin btnStyles(
        $bg : $btnDefaultBg, 
        $padding : initial,
        $color:$white, 
        $font-size : 1em,
    ) 
    {
        background-color: $bg;
        color: $color;
        padding: $padding;
        font-size: $font-size;
        &:hover{
            background-color: darken($color: $bg, $amount: 10);
        }

    }

@mixin  inputStyle 
    (
        $padding : initial
    )
    {
        padding: $padding;
    }